* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #000068;
}

.header {
    text-align: center;
    color: rgb(0, 170, 230);
}

.assignments {
    position: absolute;
    top: 30vh;
    left: 0;
    color: rgb(0, 170, 230);
}

a, a:visited {
    color: rgb(0, 170, 230);
}

.dropButton {
    background-color: #FBBB16;
    color: #000068;
    padding: 16px;
    font-size: 16px;
    border: solid 2px black;
    cursor: pointer;
}

.dropButton:hover, .dropButton:focus {
  background-color: #2980B9;
  transition: 0.3s ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropContent a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
