@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.background {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    background-image: url(images/cat.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    filter: blur(30px);

}

.loadingText {
    font-size: 6vh;
    color: white;
    opacity: 1;
}

.homeLink {
    color: red;
    text-decoration: underline;
}

.homeLink:hover {
    color: white;
}

/* .homeButton {
    display: none;
} */
