
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    padding-bottom: 50px;
    font-family: "Consolas", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url();
}
