* {
    box-sizing: border-box;
}

body {
    background-color: #0066CC;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.search-box {
    height: 50;
    position: relative;
    border: 3px black solid;
    padding: none;
}

.search-box .btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    background-color: white;
    border: 3px solid black;
    height: 52px;
    width: 52px;
    cursor: pointer;
    transition: transform .8s ease;
    padding: none;
}

.search-box .input {
    background-color: white;
    border: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: none;
    transition: width .8s ease;
}

.search-box .input:focus {
    outline: none;
}

.search-box.active .input {
    width: 200px;
}

.search-box.active .btn {
    transform: translateX(198px);
}

a {
    color: red;
}

a:hover {
    background-color: white;
}

.homeLink {
    top: 0;
    left: 0;
}
